ul {
    list-style: none;
  }
li {
    background-color: #89a4ee;
    margin-top: 10px;
    border-radius: 25px;
    font-size: 1.3em;
    text-align: left;
    height: 70px;
    font-family: 'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif;
}
p {
    position: relative;
    left: 10%;
    top: 28%;
    font-weight: bold;
    
    
}