/*.chat-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  */
  .input-full-width {
    width: 100%;
  }

.button-row button,.button-row a {
  margin-right: 8px;
}

.chat-form {
    margin:20px;
}

.btnSend {
    margin-top:50px;
}