<div class="container-fluid">
    <div class="chat-form" name="chat-form" >
        <div [hidden]="_id.value == ''">
            {{_id}} says:
        </div>  
        <mat-form-field class="input-full-width">
            <input #inputChatV matInput placeholder="Send a message" name="inputChat" id="inputChat" [(ngModel)]="inputChat">
        </mat-form-field>
        <div class="btnSend">
            <button type="button" mat-raised-button color="primary" (click)="sendMessage(inputChatV.value)">Send Message</button>
        </div>
    </div>
      
</div>
